body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #111;
    background-color: #fafafa;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;

}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1168px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

/* Header */

.header {}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: inherit;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-list {
    display: flex;
    gap: 24px;
}

.nav-item {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: inherit;
}

.nav-item:hover,
.nav-item:focus {
    color: #fd9222;
}

/* HERO */

.hero-section {
    background-color: #1e1823;
    border-radius: 30px;
    margin-bottom: 72px;
}

.hero-container {
    padding: 375px 40px 46px;
}

.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: #fff;
    max-width: 484px;
    margin-bottom: 32px;

}

.button-active {
    background-color: #fd9222;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 100px;
    padding: 14px 40px;
    max-width: 144px;
    margin-right: 14px;

}

.button-active:hover,
.button-active:focus {
    background-color: #fcf1e0;
    color: #fd9222;
}

.link-made {

    font-weight: 600;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 14px 40px;
    margin-right: 637px;
}

.link-made:hover,
.link-made:focus {
    color: #fd9222;
    border: 1px solid #fd9222;
    background-color: #fff;
}

.button-scroll {
    font-family: inherit;
    font-weight: 500;
    font-size: inherit;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #fff;
    padding: 0;
    border: none;
    background: none;
}

/* Benefits */

.benefits-section {
    background: #1e1823;
}

.benefits-list {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    gap: 70px;
    align-items: flex-start;
    justify-content: center;
}

.benefits-list-item {
    width: calc((100% - 140px) / 2);
}

.benefits-subtitle {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 22px;
}

.benefits-text {
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: -0.02em;
    max-width: 308px;
}

/* TASTE */
.taste {}

.taste-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
    max-width: 411px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
    padding-top: 100px;
}

.title-accent {
    color: #FD9222;
}

.taste-text {
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    max-width: 486px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.taste-list {
    display: flex;
    gap: 19px;
    padding-bottom: 100px;
}

.taste-item {
    display: block;
    border: 1px solid #fd9222;
    border-radius: 15px;
    padding: 28px;
    width: calc((100% - 57px) / 4);
    background-color: #fff;
}

.taste-image {
    margin-bottom: 36px;
}

.taste-subtitle {
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}


/* MADE */

.made {}

.made-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.made-title span {
    color: #fd9222;
}

.made-image {
    background-color: rgba(0, 0, 0, 0.4);
    margin-right: 20px;
}

.made-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 28px;
}

.made-list {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container-made {
    display: flex;
    padding-bottom: 100px;
}

.container-made-text {
    border-radius: 15px;
    background: #fff;
    padding: 32px;
}

.made-item {}

.made-item-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.made-item-text::before {}

/* LOVED */

.loved {}

.loved-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.loved-title span {
    color: #fd9222;
}

.loved-list {}

.loved-item {}

.loved-image {}

.loved-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
}

.loved-item-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #111;
}