body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #111;
    background-color: #fafafa;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;

}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1168px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

/* Header */


.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: inherit;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.logo span {
    font-style: italic;
}

.logo-icon {
    stroke: #fd9222;
    fill: transparent;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.nav-item {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: inherit;
}

.nav-item:hover,
.nav-item:focus {
    color: #fd9222;
}

.header-nav-icon {
    fill: transparent;
    stroke: #111;
    stroke-width: 2px;
}

.header-nav-icon:hover,
.header-nav-icon:focus {
    stroke: #fd9222;
}

.nav-list-icon {
    display: flex;
    gap: 18px;
    margin-left: 90px;
}


/* HERO */

.hero-section {
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url("../images/chocolate-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #1e1823;
    border-radius: 30px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.hero-container {
    padding: 375px 40px 46px;
}

.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: #fff;
    max-width: 484px;
    margin-bottom: 32px;

}

.button-active {
    background-color: #fd9222;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 100px;
    padding: 14px 40px;
    max-width: 144px;
    margin-right: 14px;

}

.button-active:hover,
.button-active:focus {
    background-color: #fcf1e0;
    color: #fd9222;
}

.link-made {

    font-weight: 600;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 14px 40px;
    margin-right: 637px;
}

.link-made:hover,
.link-made:focus {
    color: #fd9222;
    border: 1px solid #fd9222;
    background-color: #fff;
}

.button-scroll {
    font-family: inherit;
    font-weight: 500;
    font-size: inherit;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #fff;
    padding: 0;
    border: none;
    background: none;
}

/* Benefits */

.benefits-section {
    background: #1e1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.benefits-list {
    display: flex;
    gap: 70px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 36px;
    padding-right: 36px;
}

.benefits-list-item {
    width: calc((100% - 140px) / 3);
    position: relative;
}

.benefits-list-item:not(:last-child)::after {
    content: "";
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 1px;
    height: 124px;
    top: 50%;
    transform: translateY(-50%);
    right: -18px;
}

.benefits-icon {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}

.benefits-icon-item {
    stroke: #FD9222;
    fill: #fd9222;
}

.benefits-subtitle {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;
}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    line-height: 1.285;
    color: rgba(255, 255, 255, 0.7);
}

/* TASTE */
.taste {
    padding-top: 100px;
    padding-bottom: 100px;
}

.taste-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
    max-width: 411px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
}

.title-accent {
    color: #FD9222;
}

.taste-text {
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    max-width: 486px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.taste-list {
    display: flex;
    gap: 19px;
}

.taste-item {
    display: block;
    border: 1px solid #fd9222;
    border-radius: 15px;
    padding: 28px;
    width: calc((100% - 57px) / 4);
    background-color: #fff;
}

.taste-image {
    margin-bottom: 36px;
}

.taste-subtitle {
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}


/* MADE */

.made-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.made-title span {
    color: #fd9222;
}

.made-image {
    background-color: rgba(0, 0, 0, 0.4);
    margin-right: 20px;
}

.made-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 28px;
}

.made-list {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container-made {
    display: flex;
    padding-bottom: 100px;
}

.container-made-text {
    border-radius: 15px;
    background: #fff;
    padding: 32px;
}

.made-item-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}


/* LOVED */

.loved {
    padding-bottom: 100px;
}

.loved-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 91px;
}

.loved-title span {
    color: #fd9222;
}

.loved-list {
    display: flex;
    gap: 28px;
    margin-bottom: 50px;
}

.loved-item {
    width: calc((100% - 56px) / 3);
    padding: 56px 24px 24px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
    position: relative;
}

.loved-image {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loved-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    margin-bottom: 24px;
}

.loved-item-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #111;
    background-color: transparent;
    border: 1px solid #fd9222;
    border-radius: 100px;
    padding: 14px 40px;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms ease, color 250ms ease;
}

.loved-btn:hover,
.loved-btn:focus {
    background-color: #fd9222;
    color: #fff;
}

/* FOOTER */

.footer {
    background-color: #1e1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer .container {
    display: flex;
    flex-direction: column;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-slogan {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: #fff;
    max-width: 300px;
}

.footer-slogan span {
    color: #fd9222;
}

.footer-contacts {
    display: flex;
    gap: 50px;
}

.footer-contact-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: #fff;
    margin-bottom: 14px;
}

.footer-address {
    font-style: normal;
}

.footer-address-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-address-link {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #fff;
    transition: color 250ms ease;
}

.footer-address-link:hover,
.footer-address-link:focus {
    color: #fd9222;
}

.footer-socials {
    display: flex;
    gap: 14px;
}

.footer-social-icon {
    fill: transparent;
    stroke: #fff;
    transition: stroke 250ms ease;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
    stroke: #fd9222;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.footer-nav-list {
    display: flex;
    gap: 24px;
}

.footer-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #fff;
    transition: color 250ms ease;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
    color: #fd9222;
}